body{
    display: flex;
    justify-content: center;
}
.box{
    width: 30px;
    height: 30px;
    background-color:black;
    animation-duration:2s;
    position: relative;
    animation-timing-function:ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-name:Size;
}
@keyframes Size{
    0%{
        background-color: rgb(184, 146, 22);
        width: 320px;
        height: 70px;
        border-radius:20px;
        top:0px;
    }
    100%{
        background-color: black;
        width: 30px;
        top: 250px;
    }
}